/* -- Luisito (Luis Garrillo XD) -- */

@font-face {
  font-family: "meditative";
  src: url("fonts/Meditative.ttf");
}
* {
  font-family: meditative;
  font-weight: 100;
}
/* 
    Quienes somos
*/
.button-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    border: solid 3px #F0ACBB;
    border-radius: 20px;
    background-color: #323B48;
    font-size: 28px;
    color: #F0ACBB;
}

.button-date:hover {
    background-color: #F0ACBB;
    color: #323B48;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    background: #fff;
}

.carousel-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323B48;
    height: 450px;
    width: 50%;
    gap: 20px;
}

.carousel-left h1 {
    text-align: center;
    font-size: 64px;
    color: #F5E5E1
}

.carousel-left h3 {
    width: 550px;
    text-align: center;
    font-size: 40px;
    color: #F0ACBB;
}

.button-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    border: solid 3px #F5E5E1;
    border-radius: 20px;
    background-color: #323B48;
    font-size: 28px;
    color: #F5E5E1;
}

.button-carousel:hover {
    border-color: #F5E5E1;
    background-color: #F5E5E1;
    color: #323B48;
}

.call-to-prices {
    width: 100%;
    height: 450px;
}

.call-to-prices-img {
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
}

.call-to-prices-img img {
    height: 100%;
}

.call-to-prices-article {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.call-to-prices h1 {
    color: #F0ACBB;
    text-align: center;
    margin-bottom: 20px;
}

.call-to-prices p {
    text-align: center;
    margin-bottom: 50px;
}

/*
    Quienes somos
*/
.about-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0ACBB;
    gap: 20px;
}

.about-container {
    height: 720px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.about-container.pink {
    background-color: #F0ACBB;
}

.about-container.black {
    background-color: #323B48;
}

.about-container-vision {
    height: 720px;
    width: 720px;
    display: flex;
    background-color: #323B48;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.about-container-row {
    height: 400px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-container-row.black {
    background-color: #323B48;
}

.about-img {
    flex: 1 1 none;
    height: 350px;
}

.about-title {
    font-size: 72px;
    color: #323B48;
}

.about-para {
    width: 860px;
    font-size: 32px;
    text-align: center;
    color: #323B48;
}

.vision-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: #F0ACBB;
    border-radius: 50%;
}

.vision-para {
    width: 650px;
    font-size: 50px;
    font-style: italic;
    color: #F5E5E1;
    text-align: center;
}

.about-line {
    width: 750px;
}

.about-container-values {
    height: 680px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323B48;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

.values-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 205px;
}

.values-title {
    font-size: 72px;
    color: #F5E5E1;
}

.values-body {
    display: flex;
    gap: 20px;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.value.elegant {
    background-color: #323B48;
    border: solid 3px #F5E5E1;
}

.value.delicate {
    background-color: #F5E5E1;
    border: solid 3px #323B48;
}

.value.feminine {
    background-color: #F0ACBB;
    border: solid 3px #323B48;
}

.value-title {
    font-size: 50px;
}

.value-title.light {
    color: #F5E5E1
}

.value-para {
    width: 320px;
    font-size: 32px;
    text-align: center;
}

.value-para.light {
    color: #F5E5E1
}

/*
    add dropdown menu
*/

/* Dropdown Button */
.dropbtn {
    background-color: #323B48;
    color: #F5E5E1;
    
    font-size: 24px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #323B48;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #F5E5E1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: #F0ACBB;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: #F0ACBB;}

  /* 
  footer
  */

  footer, footer a, footer span {
    color: #A6BCDA;
  }

  .long {
    width: 1100px;
  }
  .hideable-section.show {
    transition: all .7s;
    height: 176px;
  }

  .hideable-section{
    overflow: hidden;
    height: 0;
    transition: all .7s;
  }

  .hideable-section > div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
    margin: 30px 0px; 
  }

  .social-media-footer, .contact-footer, .address-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .ft-img {
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  .address-footer > a > p {
    text-align: center;
  }

  .address-footer > a:hover {
    cursor: pointer;
  }

  .footer-wrap {
    position: relative;
  }

  #expand-btn {
    position: absolute;
    margin-left: 510px;
    top: -50px;
    width: 180px;
    height: 50px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color:#A6BCDA;
    font-size: 24px;
    background-color: #323B48;
  }

  #expand-btn:hover {
    transition: 0.2s;
    cursor: pointer;
    color: #F0ACBB;
  }


  /* 
  carousel
  */

  .carousel-right {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .slide-arrow {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 50px;
  }

  .slide-arrow:hover {
    cursor: pointer;
    color: #F0ACBB;
    transition: all 0.2s;
  }

  .slide {
    display:flex;
    position: relative;
    overflow: hidden;
    width: 190px;
    height: 255px;
  }

  .slide-img {
    width: 100%;
  }

  .slide-img.selected {
    animation: fade 0.5s;
  }

  .circle-wrapper {
    height: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .circle {
    width: 15px;
    height: 15px;
    background-color: #F0ACBB;
    border-radius: 50%;
  }

  .circle.selected {
    animation: select 0.5s forwards;
  }

  @keyframes select {
    from {
        width: 15px;
        height: 15px;
        background-color: #F0ACBB;
    }
    to {
        width: 20px;
        height: 20px;
        background-color: #323B48;
    }
  }

  @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
  }

  /*
    fix register
  */

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  input {
    padding-left: 5px;
  }

  .signup-card {
    height: 625px
  }

  .signup-title {
    font-size: 40px;
    font-weight: 100;
  }
 