/* 
    CSS BY: Ohlala!
   1.- Fuentes
   2.- 

*/
/*----- Fuentes -----*/
@font-face {
    font-family: 'remixa-regular';
    src: url("fonts/REMIXATEST-REGULAR-BF649A5C12202EB.OTF");
}

@font-face {
    font-family: 'remixa-bold';
    src: url("fonts/REMIXATEST-BOLD-BF649A5C11CF16C.OTF");
}

@font-face {
    font-family: 'remixa-semi-bold';
    src: url("fonts/REMIXATEST-SEMIBOLD-BF649A5C1233077.OTF");
}

/*----- Estilos por defecto -----*/
* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 40px;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    transition: 0.2s;
    color: #F0ACBB;
}

hr {
    color: #F0ACBB;
}

.color-grey {
    background: #323B48;
}

.display-heading-h1 {
    font-size: 64px;
    color: #323B48;
}

.display-heading-h2 {
    font-size: 40px;
    color: #323B48;
}

.display-heading-h3 {
    font-size: 30px;
}

.display-heading-h4 {
    font-size: 20px;
}

.display-heading-bold {
    font-size: 38px;
    color: #FFFFFF;
}

.display-heading-semi-bold {
    font-size: 40px;
    color: #FFFFFF;
}

.display-heading-semi-bold-h1 {
    font-size: 64px;
    color: #323B48;
}

.display-heading-semi-bold-h2 {
    font-size: 40px;
    color: #323B48;
}

.display-heading-semi-bold-h3 {
    font-size: 30px;
}

.display-heading-semi-bold-h4 {
    font-size: 20px;
    font-weight: 100;
}

.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    border: solid 3px #323B48;
    border-radius: 20px;
    padding: 10px;
    background: #F0ACBB;
    color: #323B48;
    font-size: 28px;
}

.button-primary:hover {
    transition: 0.2s;
    color: #F0ACBB;
    background-color: #323B48;
    border: 3px solid #323B48;
}

.button-secondary {
    border-radius: 5px;
    padding: 10px;
    color: #F0ACBB;
    border: 2px solid #F0ACBB;
}

.button-secondary:hover {
    transition: 0.2s;
    border-radius: 5px;
    padding: 8px;
    color: #323B48;
    background: #F0ACBB;
    border: 2px solid #F0ACBB;
}

input {
    border: none;
    background: none;
    color: #A6BCDA;
    border-bottom: 3px solid #F0ACBB;
    font-size: 22px;
}

input::placeholder {
    color: #A6BCDA;
}

select {
    border: none;
    background: none;
    color: #A6BCDA;
    border-bottom: 3px solid #F0ACBB;
    font-size: 22px;
}

option {
    color: #323B48;
    background: #F0ACBB;
}

/*----- plantilla base -----*/

body {
    background: #F0ACBB;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    margin: auto;
}

.logo {
    height: 50px;
}

header {
    padding: 20px 50px 20px 50px;
    background: #323B48;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    height: 654px;
    background: #F0ACBB;
    margin: auto;
}

.hero-tittle {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    float: left;
}

.hero-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-tittle h1 {
    margin-bottom: 10px;
}

.hero-tittle p {
    margin-bottom: 15px;
}

.hero-img {
    display: block;
    float: right;
    width: 50%;
    height: 100%;
}

.hero-img img {
    height: 100%;
    max-height: 654px;
    max-width: 654px;
}

.portfolio {
    background: #F5E5E1;
    justify-content: center;
    padding: 50px;
    width: 1100px;
}

.portfolio .display-heading-h1 {
    text-align: center;
    margin-bottom: 50px;
}

.grid {
    display: flex;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 20px 10px 20px 10px;
    background: #323B48;
    border-radius: 20px;
    width: 25%;
    height: 300px;
}

.card a {
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title {
    margin-bottom: 0px;
    text-align: center;
}

.card:hover {
    color: #F0ACBB;
}

.card.pink {
    background-color: #F0ACBB;
}

.card.pink:hover {
    color: #323B48
}

.call-to-action {
    width: 100%;
    height: 450px;
}

.call-to-action-img {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
}

.call-to-action-img img {
    height: 100%;
}

.call-to-action-article {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
}

.call-to-action-article article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action-article article h1 {
    font-size: 64px;
}

.call-to-action h1 {
    color: #F0ACBB;
    text-align: center;
    margin-bottom: 20px;
}

.call-to-action p {
    text-align: center;
    margin-bottom: 50px;
}

footer {
    width: 1100px;
    padding: 20px 50px 20px 50px;
    background: #323B48;
}

.nav-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer hr {
    margin-bottom: 20px;
}

footer span {
    padding-left: 40px;
    color: #F5E5E1
}

/*----- 404 -----*/
.mantenimiento {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 700px;
    background: #FFFFFF;
}

.mantenimiento h1 {
    width: 800px;
    color: #323B48;
}

.display-heading-h1 {
    font-size: 64px;
    color: #323B48;
}

.display-heading-h2 {
    font-size: 40px;
    color: #323B48;
}

.display-heading-h3 {
    font-size: 30px;
}

.display-heading-h4 {
    font-size: 20px;
}

.display-heading-bold {
    font-size: 38px;
    color: #FFFFFF;
}

/*----- signup -----*/

.signup-wrap {
    height: 777px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signup-card {
    height: 580px;
    width: 550px;
    border-radius: 50px;
    background-color: #323B48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.signup-title {
    text-align: center;
    font-size: 32px;
}

.signup-subtitle {
    width: 80%;
    text-align: center;
    font-size: 22px;
}

.signup-title.light {
    color: #F5E5E1;
}

.signup-subtitle.pink {
    color: #F0ACBB;
}

.signup-field-double .signup-field {
    box-sizing: border-box;
    font-size: 28px;
    width: 205px;
    margin-right: 7px;
    height: 30px;
    border: none;
    border-bottom: solid 3px #F0ACBB;
    background-color: #323B48;
    flex: none;
    color: #F5E5E1;
    margin-top: 10px;
}

.signup-field {
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 28px;
    width: 422px;
    height: 30px;
    border: none;
    border-bottom: solid 3px #F0ACBB;
    background-color: #323B48;
    flex: none;
    color: #F5E5E1;
}

.signup-field:focus {
    transition: 0.2s;
    border-bottom: solid 3px #F5E5E1;
    outline: none;
}

.signup-field-double input[type="date"] {
    color: #A6BCDA;
}

.signup-field-double input[type="date"]:focus {
    color: #F5E5E1;
    transition: 0.2s;
    border-bottom: solid 3px #F5E5E1;
    outline: none;
}

.signup-field-double input[type="date"]:valid {
    color: #F5E5E1;
}

.signup-button {
    box-sizing: border-box;
    background-color: #323B48;
    width: 235px;
    height: 70px;
    border: solid 3px #F0ACBB;
    border-radius: 20px;
    color: #F0ACBB;
    font-size: 26px;
}

.signup-button:hover {
    transition: 0.2s;
    background-color: #F0ACBB;
    cursor: pointer;
    color: #323B48
}

.signup-card-login {
    height: 580px;
    width: 350px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-para {
    margin-top: -40px;
    font-size: 20px;
    text-align: center;
}

.login-button {
    box-sizing: border-box;
    background-color: #F0ACBB;
    width: 235px;
    text-align: center;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    border: solid 3px #323B48;
    border-radius: 20px;
    color: #323B48;
    font-size: 26px;
}

.login-button:hover {
    transition: 0.2s;
    background-color: #323B48;
    cursor: pointer;
    color: #F0ACBB
}

/*Login*/

.login-wrap {
    height: 777px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-card {
    height: 580px;
    width: 550px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login-title {
    text-align: center;
    font-size: 32px;
}

.login-subtitle {
    width: 80%;
    text-align: center;
    font-size: 22px;
}

.light {
    color: #F5E5E1;
}

.grey {
    color: #323B48;
}

.login-field {
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 28px;
    padding-left: 15px;
    padding-bottom: 5px;
    width: 422px;
    height: 30px;
    border: none;
    border-bottom: solid 3px #323B48;
    flex: none;
}

.login-field::placeholder {
    color: #FFFFFF;
}

.login-field:focus {
    transition: 0.2s;
    color: #323B48;
    border-bottom: solid 3px #323B48;
    outline: none;
}

.signup-button {
    box-sizing: border-box;
    background-color: #323B48;
    width: 235px;
    height: 70px;
    border: solid 3px #F0ACBB;
    border-radius: 20px;
    color: #F0ACBB;
    font-size: 26px;
}

.signup-button:hover {
    transition: 0.2s;
    background-color: #F0ACBB;
    cursor: pointer;
    color: #323B48
}

.login-card-login {
    height: 580px;
    width: 550px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #323B48;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-img-login {
    height: 380px;
}

.login-para {
    margin-top: -40px;
    font-size: 20px;
    text-align: center;
}

.login-button {
    box-sizing: border-box;
    background-color: #F0ACBB;
    width: 235px;
    text-align: center;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    border: solid 3px #323B48;
    border-radius: 20px;
    color: #323B48;
    font-size: 26px;
}

.login-button:hover {
    transition: 0.2s;
    background-color: #323B48;
    border: solid 3px #F0ACBB;
    cursor: pointer;
    color: #F0ACBB
}

.pink {
    color: #F0ACBB;
}

/*
    Agendar cita
*/

.agendar-wrap {
    height: 720px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.agendar-card {
    height: 580px;
    width: 550px;
    border-radius: 50px;
    background-color: #323B48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.agendar-title {
    font-size: 32px;
}

.agendar-subtitle {
    font-size: 22px;
}

.agendar-card .light {
    color: #F5E5E1;
}

.agendar-turno {
    display: flex;
    gap: 10px;
}

.agendar-turno input {
    width: 200px;
}

.agendar-turno select {
    width: 200px;
}

.agendar-button {
    box-sizing: border-box;
    background-color: #F0ACBB;
    width: 235px;
    height: 70px;
    border: solid 3px #F0ACBB;
    border-radius: 20px;
    color: #323B48;
    font-size: 26px;
}

.agendar-button:hover {
    transition: 0.2s;
    background-color: #323B48;
    cursor: pointer;
    color: #F0ACBB;
}

.agendar-card .all-services {
    display: flex;
    gap: 10px;
}

.agendar-card .all-services .service {
    text-align: center;
}

.service select {
    width: 200px;
}

.agendar-card .all-services img {
    height: 100px;
}

.agendar-factura-card {
    height: 580px;
    width: 550px;
    border-radius: 50px;
    background-color: #F5E5E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.agendar-factura-card hr {
    border: 0;
    height: 2px;
    background: #000;
    width: 80%;
}

.agendar-factura-card .servicios-list {
    align-self: flex-start;
    padding-left: 60px;
}

.agendar-list {
    width: 100%;
}

.agendar-list ul {
    width: 80%;
    display: block;
}

.agendar-list ul li {
    font-size: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
}

.agendar-para {
    display: flex;
    justify-content: space-between;
    width: 80%;
}