@font-face {
    font-family: 'remixa-regular';
    src: url("fonts/REMIXATEST-REGULAR-BF649A5C12202EB.OTF");
}

@font-face {
    font-family: 'remixa-bold';
    src: url("fonts/REMIXATEST-BOLD-BF649A5C11CF16C.OTF");
}

@font-face {
    font-family: 'remixa-semi-bold';
    src: url("fonts/REMIXATEST-SEMIBOLD-BF649A5C1233077.OTF");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: remixa-regular;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 40px;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    transition: 0.2s;
    color: #F0ACBB;
}

hr {
    color: #F0ACBB;
}

.color-grey {
    background: #323B48;
}

.display-heading-h1 {
    font-family: remixa-bold;
    font-size: 64px;
    color: #323B48;
}

.display-heading-h2 {
    font-family: remixa-bold;
    font-size: 40px;
    color: #323B48;
}

.display-heading-bold {
    font-family: remixa-bold;
    font-size: 38px;
    color: #FFFFFF;
}

.display-heading-semi-bold {
    font-family: remixa-semi-bold;
    font-size: 40px;
    color: #FFFFFF;
}

.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    border: solid 3px #323B48;
    border-radius: 20px;
    padding: 10px;
    background: #F0ACBB;
    color: #323B48;
    font-size: 28px;
}

.button-primary:hover {
    transition: 0.2s;
    color: #F0ACBB;
    background-color: #323B48;
    border: 3px solid #323B48;
}

.button-secondary {
    border-radius: 5px;
    padding: 10px;
    color: #F0ACBB;
    border: 2px solid #F0ACBB;
}

.button-secondary:hover {
    transition: 0.2s;
    border-radius: 5px;
    padding: 8px;
    color: #323B48;
    background: #F0ACBB;
    border: 2px solid #F0ACBB;
}

body {
    background: #F0ACBB;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    margin: auto;
}

.logo {
    height: 50px;
}

header {
    padding: 20px 50px 20px 50px;
    background: #323B48;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    height: 654px;
    background: #F0ACBB;
    margin: auto;
}


.hero-tittle {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    float: left;
}

.hero-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-tittle h1 {
    margin-bottom: 10px;
}

.hero-tittle p {
    margin-bottom: 15px;
}

.hero-img {
    display: block;
    float: right;
    width: 50%;
    height: 100%;
}

.hero-img img {
    height: 100%;
    max-height: 654px;
    max-width: 654px;
}

.portfolio {
    background: #F5E5E1;
    justify-content: center;
    padding: 50px;
    width: 1100px;
}

.portfolio .display-heading-h1 {
    text-align: center;
    margin-bottom: 50px;
}

.grid {
    display: flex;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 20px 10px 20px 10px;
    background: #323B48;
    border-radius: 20px;
    width: 25%;
    height: 300px;
}

.card a {
    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title {
    margin-bottom: 0px;
    text-align: center;
}

.card:hover {
    color: #F0ACBB;
}

.card.pink {
    background-color: #F0ACBB;
}

.card.pink:hover {
    color:#323B48
}

.call-to-action {
    width: 100%;
    height: 450px;
}

.call-to-action-img {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
}

.call-to-action-img img {
    height: 100%;
}

.call-to-action-article {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
}

.call-to-action-article article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action-article article h1 {
    font-size: 64px;
}



.call-to-action h1 {
    color: #F0ACBB;
    text-align: center;
    margin-bottom: 20px;
}

.call-to-action p {
    text-align: center;
    margin-bottom: 50px;
}

.button-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    border: solid 3px #F0ACBB;
    border-radius: 20px;
    background-color: #323B48;
    font-size: 28px;
    color:#F0ACBB;
}

.button-date:hover {
    background-color: #F0ACBB;
    color: #323B48;
}


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    background: #fff;
}

.carousel-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323B48;
    height: 450px;
    width: 50%;
    gap: 20px;
}
.carousel-left h1 {
    text-align: center;
    font-size: 64px;
    color:#F5E5E1
}

.carousel-left h3 {
    width: 550px;
    text-align: center;
    font-size: 40px;
    color: #F0ACBB;
}

.button-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 60px;
    border: solid 3px #F5E5E1;
    border-radius: 20px;
    background-color: #323B48;
    font-size: 28px;
    color:#F5E5E1;
}

.button-carousel:hover {
    border-color: #F5E5E1;
    background-color: #F5E5E1;
    color:#323B48;
}

.carousel-right {
    
    width: 50%;
}

.call-to-prices {
    width: 100%;
    height: 450px;
}

.call-to-prices-img {
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
}

.call-to-prices-img img {
    height: 100%;
}

.call-to-prices-article {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.call-to-prices h1 {
    color: #F0ACBB;
    text-align: center;
    margin-bottom: 20px;
}

.call-to-prices p {
    text-align: center;
    margin-bottom: 50px;
}

footer {
    width: 1100px;
    padding: 20px 50px 20px 50px;
    background: #323B48;
}

.nav-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer hr {
    margin-bottom: 20px;
}

footer span {
    padding-left: 40px;
    color:#F5E5E1
}

.mantenimiento {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 700px;
    background: #FFFFFF;
}

.mantenimiento h1 {
    width: 800px;
    color: #323B48;
}

/*
 -- Luisito (Luis Garrillo XD)
*/

/*
    Quienes somos
*/
.about-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323B48;
}

.about-container {
    height: 720px;
    width:1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container.pink {
    background-color: #F0ACBB;
}
.about-container.black {
    background-color: #323B48;
}

.about-container-row {
    height: 400px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-container-row.black {
    background-color: #323B48;
}

.about-img {
    flex: 1 1 none;
    height: 350px;
}
.about-title {
    font-size: 72px;
}
.about-para {
    width: 860px;
    font-size: 32px;
    text-align: center;
}

.vision-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: #F0ACBB;
    border-radius: 50%;
}

.vision-para {
    width: 815px;
    font-size: 50px;
    font-style: italic;
    color: #F5E5E1;
}

.about-line {
    width: 750px;
}

.values-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 205px;
}

.values-title {
    font-size: 72px;
    color: #F5E5E1;
}

.values-body {
    display: flex;
    
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 515px;
    width: 400px;
}

.value.delicate {
    background-color: #F5E5E1;
}

.value.feminine {
    background-color: #F0ACBB;
}

.value-title {
    font-size: 64px;
}

.value-title.light {
    color:#F5E5E1
}

.value-para {
    width: 320px;
    font-size: 32px;
    text-align: center;
}

.value-para.light {
    color:#F5E5E1
}

/*
    Contacto
*/

.contact-wrap {
    height: 720px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-card {
    height: 580px;
    width: 550px;
    border-radius: 50px;
    background-color: #323B48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact-title {
    font-size: 32px;
}

.contact-title.light {
    color: #F5E5E1;
}

.contact-field {
    box-sizing: border-box;
    font-size: 28px;
    width:415px;
    height: 55px;
    padding-left: 20px;
    border: none;
    border-bottom: solid 3px #F0ACBB;
    background-color: #323B48;
    
    flex: none;
    color:#F5E5E1;
}

.contact-field:focus {
    transition: 0.2s;
    border-bottom: solid 3px #F5E5E1;
    outline:none;
}

.contact-textarea {
    box-sizing: border-box;
    padding: 10px;
    font-size: 24px;
    background-color: #323B48;
    border: solid 3px #F0ACBB;
    width: 415px;
    height: 125px;
    color:#F5E5E1;
}

.contact-textarea:focus {
    transition: 0.2s;
    border: solid 3px #F5E5E1;
    outline:none;
}

.contact-button {
    box-sizing: border-box;
    background-color: #323B48;
    width: 235px;
    height: 70px;
    border: solid 3px #F0ACBB;
    border-radius: 20px;
    color: #F0ACBB;
    font-size: 26px;
}

.contact-button:hover {
    transition: 0.2s;
    background-color: #F0ACBB;
    cursor: pointer;
    color:#323B48
}

.social-card {
    height: 580px;
    width: 550px;
    border-radius: 50px;
    background-color: #F5E5E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-para {
    width: 413px;
    font-size: 20px;
    text-align: justify;
}

.contact-para.center {
    text-align: center;
}