{% extends "ohlala_app/index.html" %}
{% load static %}
{% block title %} Registro {% endblock %}
{% block content %}
<div class="signup-wrap">
    <form method="post" class="signup-card" action="{% url "form_signup" %}">
        {% csrf_token %}
        <h1 class="signup-title light">Bienvenido a nuestra familia</h1>
        <h2 class="signup-subtitle pink">Llene el formulario para poder registrar sus datos en el sistema</h2>
        <div class="inputs">
            <input class="signup-field" type="number" name="cedula" id="" placeholder="Cédula" required>
            <div class="signup-field-double">
                <input class="signup-field" type="text" name="nombre" id="" placeholder="Nombre" required>
                <input class="signup-field" type="text" name="apellido" id="" placeholder="Apellido" required>
            </div>
            <div class="signup-field-double">
                <input class="signup-field" type="date" name="fecha_nacimiento" id="date-field" required>
                <input class="signup-field" type="text" name="telefono" id="" placeholder="Celular" required>
            </div>
            <input class="signup-field" type="email" name="correo_electronico" id="" placeholder="Correo Electrónico" required>
            <div class="signup-field-double">
                <input class="signup-field" type="password" name="contrasena" id="" placeholder="Clave" required>
                <input class="signup-field" type="password" name="" id="" placeholder="Confirmar Clave" required>
            </div>
        </div>
        <button type="submit" class="signup-button">Registrarse</button>  
    </form>
    <div class="signup-card-login">
        <div class="icons">
            <img src="{% static "img/nail_polish.png" %}">
        </div>
        <h1 class="signup-title">¿Ya te encuentras registrado?</h1>
        <a class="login-button" href="{% url "login" %}">Iniciar sesión</a> 
    </div>
</div>
{% endblock %}
