{% extends "ohlala_app/index.html" %}
{% load static %}
{% block title %} Registro {% endblock %}
{% block content %}
    <section class="signup">
        <div class="form-container">
            <form class="signupform" action="{% url "form_signup" %}" method="post"> 
                {% csrf_token %}
                <h1 class="display-heading-h3">Bienvenida a nuestra familia</h1>
                <h2 class="display-heading-semi-bold-h4">Llene el formulario para poder llevar a cabo el registro</h2>
                <div class="inputs">
                    <input type="number" name="cedula" id="" placeholder="Cédula">
                    <div>
                        <input type="text" name="nombre" id="" placeholder="Nombre">
                        <input type="text" name="apellido" id="" placeholder="Apellido">
                    </div>
                    <div>
                        <input type="date" name="fecha_nacimiento" id="" placeholder="Fecha de nac.">
                        <input type="text" name="telefono" id="" placeholder="Celular">
                    </div>
                    <input type="email" name="correo_electronico" id="" placeholder="Correo Electronico">
                    <div>
                        <input type="password" name="contrasena" id="" placeholder="Clave">
                        <input type="password" name="" id="" placeholder="Confirmar Clave">
                    </div>
                    <button class="button-primary" type="submit">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="signup-img">
            <img src="{% static "img/manohero.png" %}" alt="">
            <h2>Ya te encuentras registrado</h2>
            <button>inicia sesión</button>
        </div>
    </section>
{% endblock %}
