{% extends "ohlala_app/index.html" %}
{% load static %}
{% block title %} Agendar {% endblock %}
{% block content %}
<form action="{% url "registro_cita" %}" method="post">
    {% csrf_token %}
    <div class="agendar-wrap">
        <div class="agendar-card">
            <h1 class="agendar-title light">Agenda tu cita</h1>
            <div class="message-wrap">
                <h2 class="agendar-subtitle light">Fecha y hora</h2>
                <p id="date-error" class="error"></p>
            </div>
            <div class="agendar-turno">
                <input class="agendar-field" type="date" name="fecha" id="agendar-fecha" required>
                <select name="hora" id="hora">
                    <option value="8">8:00 AM</option>
                    <option value="9">9:00 AM</option>
                    <option value="10">10:00 AM</option>
                    <option value="11">11:00 AM</option>
                    <option value="12">12:00 PM</option>
                    <option value="13">1:00 PM</option>
                    <option value="14">2:00 PM</option>
                    <option value="15">3:00 PM</option>
                    <option value="16">4:00 PM</option>
                    <option value="17">5:00 PM</option>
                    <option value="18">6:00 PM</option>
                    <option value="19">7:00 PM</option>
                    <option value="20">8:00 PM</option>
                </select>
            </div>
            <div class="agendar-turno">
                <h2 class="agendar-subtitle light">Manicurista: </h2>
                <select name="manicurista" id="manicurista" required>
                    <option value="0">Seleccione</option>
                    {% for manicurista in manicuristas %}
                        {% if manicurista.idManicurista >= 0  %}
                            <option value="{{ manicurista.idManicurista }}">{{ manicurista.nombre }} {{ manicurista.apellido }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="all-services">
                <div class="service">
                    <img class="date-img" src="{% static "img/mani.png" %}" alt="">
                    <h2 class="light">Manicura</h2>
                    <select name="manicura" id="manicura">
                        <option value="0"> Seleccione </option>
                        {% for servicio in servicios %}
                            {% if servicio.idServicio <= 6  %}
                                <option value="{{ servicio.idServicio }}">{{ servicio.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="service">
                    <img class="date-img" src="{% static "img/pedi.png" %}" alt="">
                    <h2 class="light">Pedicura</h2>
                    <select name="pedicura" id="pedicura">
                        <option value="0">Seleccione</option>
                        {% for servicio in servicios %}
                            {% if servicio.idServicio > 6  %}
                                <option value="{{ servicio.idServicio }}">{{ servicio.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>            
        </div>
        <div class="agendar-factura-card">
            <h1 class="agendar-title">Confirmación de la cita</h1>
            <hr>
            <div class="fecha-confirmacion">
                <h2 class="agendar-subtitle servicios-list">Fecha de la cita:</h2>
                <p><span id="confirm-date">00/00/0000</span> <span id="confirm-hour" class="hour-span">8:00 AM</span></p>
            </div>
            <div class="manicurista-confirmacion">
                <h2 class="agendar-subtitle servicios-list">Manicurista:</h2>
                <div>
                    <p id="confirm-manicurista">Su manicurista</span></p>
                    <div id="work-cancel" class="cancel">✖</div>
                </div>
            </div>
            <hr>
            <h1 class="confirmacion-servicio">Servicios: </h1>
            <div class="agendar-list">
                <ul>
                    <li>
                        <p id="confirm-mani">No se hará manicura</p>
                        <div class="confirmation-cancel">
                            <p><span id="mani-price" class="price">0</span>Bs</p>
                            <div id="mani-cancel" class="cancel">✖</div>
                        </div>
                    </li>
                    <li>
                        <p id="confirm-pedi">No se hará pedicura</p>
                        <div class="confirmation-cancel">
                            <p><span id="pedi-price" class="price">0</span>Bs</p>
                            <div id="pedi-cancel" class="cancel">✖</div>
                        </div>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="agendar-para">
                <p>Total a pagar:</p>
                <p><span id="total" class="price">0</span>Bs</p></div>
            <hr>
            <button type="submit" id="schedule" class="agendar-button" disabled>Agendar cita</button>  
        </div>
    </div>
</form>
{% endblock %}
