{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/LuisJuarez.css" %}">
    <link rel="stylesheet" href="{% static "css/LuisGarrillo.css" %}">
    <link rel="stylesheet" href="{% static "css/MariaMoros.css" %}">
</head>

<body>
    <div class="container">
        <header>
            <div>
                <a href="{% url "inicio" %}">
                    <img src="{% static "img/logo_nuevo.png" %}" class="logo" alt="logotipo-ohlala">
                </a>
                {% if sesion != "activo" %}
                <div class="dropdown">
                    <button class="dropbtn">Cuenta</button>
                        <div class="dropdown-content">
                            <a href="{% url "signup" %}">Registro</a>
                            <a href="{% url "login" %}">Inicio de sesión</a>
                        </div>
                </div>
                {% else %}
                    <form method='POST' action="{% url "logout" %}">
                        {% csrf_token %}
                        <button class="log-out-btn" type="submit">Cerrar sesión</button>
                    </form>
                {% endif %}
            </div>
            <nav>
                <ul>
                    <li class="nav-item"><a href="{% url "inicio" %}">Inicio</a></li>
                    <li class="nav-item"><a href="{% url "servicios" %}">Servicios</a></li>
                    <li class="nav-item"><a href="{% url "agendar" %}">Agendar Cita</a></li>
                    <li class="nav-item"><a href="{% url "nosotros" %}">¿Quienes Somos?</a></li>
                    <li class="nav-item"><a href="{% url "contacto" %}">Contacto</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <div class="footer-wrap">
        <button id="expand-btn">Expandir</button>
        <footer>
            <nav class="nav-footer">
                <ul>
                    <li><a href="{% url "inicio" %}">Inicio</a></li>
                    <li><a href="{% url "agendar" %}">Agendar cita</a></li>
                    <li><a href="{% url "nosotros" %}">¿Quienes somos?</a></li>
                </ul>
            </nav>
            <hr>
            <div id="hideable" class="hideable-section">
                <div>
                    <div class="social-media-footer">
                        <h3>Redes Sociales</h1>
                        <div>
                            <a href="https://www.instagram.com/ohlalanailbar_"><img class="ft-img" src="{% static "img/ig-ft.png" %}"></a>
                            <a href="https://www.threads.net/@ohlalanailbar_"><img class="ft-img" src="{% static "img/th-ft.png" %}"></a>
                        </div>
                    </div>
                    <div class="contact-footer">
                        <h3>Contacto</h1>
                        <div class="numbers">
                            <a href="https://wa.me/5804246202011"><img src="">+58 0424-6202011</a>
                            <a href="https://wa.me/5804246246432"><img src="">+58 0424-6246432</a>
                        </div>
                    </div>
                    <div class="address-footer">
                        <h3>Dirección</h1>
                        <a href="https://maps.app.goo.gl/1F3QS7QoNNM8Ug8u8">
                            <p>Av. 3F con Av 5 de Julio,</p>
                            <p>Centro Comercial Terraza 77,</p>
                            <p>Piso 2, Local 27.</p>
                        </a>
                    </div>
                </div>
                <hr class="long">
            </div>
            <span>© Copyright 2024 - Oh la la!</span>
        </footer>
        </div>
        </div>
        <script src="{% static "js/LuisGarillo.js" %}"></script>
        <script src="{% static "js/LuisJuarez.js" %}"></script>
        <script src="{% static "js/MariaMoros.js" %}"></script>
</body>
</html>