{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/LuisJuarez.css" %}">
    <link rel="stylesheet" href="{% static "css/LuisGarrillo.css" %}">
    <link rel="stylesheet" href="{% static "css/MariaMoros.css" %}">
</head>

<body>
    <div class="container">
        <header>
            <a href="{% url "inicio" %}">
                <img src="{% static "img/logo_nuevo.png" %}" class="logo" alt="logotipo-ohlala">
            </a>
            <div class="dropdown">
                <button class="dropbtn">Cuenta</button>
                <div class="dropdown-content">
                    <a href="#">Registro</a>
                    <a href="#">Inicio de sesión</a>
                </div>
            </div>
            <nav>
                <ul>
                    <li class="nav-item"><a href="{% url "inicio" %}">Inicio</a></li>
                    <li class="nav-item"><a href="{% url "servicios" %}">Servicios</a></li>
                    <li class="nav-item"><a href="{% url "agendar" %}">Agendar Cita</a></li>
                    <li class="nav-item"><a href="{% url "nosotros" %}">¿Quienes Somos?</a></li>
                    <li class="nav-item"><a href="{% url "contacto" %}">Contacto</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <nav class="nav-footer">
                <ul>
                    <li><a href="{% url "inicio" %}">Inicio</a></li>
                    <li><a href="{% url "agendar" %}">Agendar cita</a></li>
                    <li><a href="{% url "nosotros" %}">Quienes somos</a></li>
                </ul>
            </nav>
            <hr>
            <span>© Copyright 2024 - Oh la la!</span>
        </footer>
        </div>
        <script src="{% static "js/LuisGarillo.js" %}"></script>
        <script src="{% static "js/LuisJuarez.js" %}"></script>
        <script src="{% static "js/MariaMoros.js" %}"></script>
</body>
</html>