{% extends "ohlala_app/index.html" %}
{% load static %}
{% block title %} Oh la la! {% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-tittle">
        <div class="hero-center">
            <h1 class="display-heading-h1">¡Consigue el look que mereces!</h1>
            <p class="display-heading-semi-bold">Ven a vernos en este instante</p>
            <a href="" class="button-primary">Agendar cita</a>
        </div>
    </div>
    <div class="hero-img">
        <img src="{% static "img/manohero.png" %}" alt="">
    </div>
</section>
<section class="portfolio">
    <h1 class="display-heading-h1">Explora nuestros trabajos</h1>
    <div class="grid">
        
            <a class="card" href="{% url "servicios" %}">
                <img src="{% static "img/bento-img-1.png" %}" width="150px" alt="">
                <h1 class="card-title">Temas Únicos</h1>
            </a>
        
            <a class="card pink" href="{% url "servicios" %}">
                <img src="{% static "img/bento-img-2.png" %}" width="150px" alt="">
                <h1 class="card-title">Múltiples Estilos</h1>
            </a>
        
            <a class="card" href="{% url "servicios" %}">
                <img src="{% static "img/bento-img-3.png" %}" width="150px" alt="">
                <h1 class="card-title">Efectos Encantadores</h1>
            </a>
        
    </div>
    <div class="grid">
        
            <a class="card pink" href="{% url "servicios" %}">
                <img src="{% static "img/bento-img-4.png" %}" width="150px" alt="">
                <h1 class="card-title">Manicura en Gel</h1>
            </a>
        
            <a class="card" href="{% url "servicios" %}">
                <img src="{% static "img/bento-img-5.png" %}" width="150px" alt="">
                <h1 class="card-title">Manicura</h1>
            </a>
        
            <a class="card pink" href="{% url "servicios" %}">
                <img src="{% static "img/bento-img-6.png" %}" width="150px" alt="">
                <h1 class="card-title">Polygel</h1>
            </a>
        </div>
</section>
<section class="call-to-action">
    <div class="call-to-action-img">
        <img src="{% static "img/manito_gris_azulado.png" %}" alt="">
    </div>
    <div class="call-to-action-article color-grey">
        <article>
            <h1 class="display-heading-h2">¿Te gusta lo que ves?</h1>
            <p class="display-heading-bold">Si es así te invitamos a que nos des una visita</p>
            <a href="{% url "agendar" %}" class="button-date">Agendar cita</a>
        </article>
    </div>
</section>
<section class="carousel"> 
    <div class="carousel-left">
        <h1>¿Deseas seguir explorando?</h1>
        <h3>Averigua sobre nuestros servicios y productos</h3>
        <a class="button-carousel" href="{% url "servicios" %}">Ver servicios</a>
    </div>
    <div class="carousel-right">
        <h1>Nuestros productos favoritos</h1>
        <div class="slider-wrapper">
            <button class="slide-arrow" id="prev">
                &#8249;
            </button>
            <div id="slides" class="slide">
                <img class="slide-img selected" src="{% static "img/slide1.png" %}">
                <img class="slide-img" src="{% static "img/slide2.png" %}">
                <img class="slide-img" src="{% static "img/slide3.png" %}">
                <img class="slide-img" src="{% static "img/slide4.png" %}">
            </div>
            <button class="slide-arrow" id="next">
                &#8250;
            </button>
        </div>
        <div id="circles" class="circle-wrapper">
            <div class="circle selected"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
</section>
<section class="go-to-contact">
    <div class="contact-circle">
        <img src="{% static "img/chicaP.png" %}">
    </div>
    <div>
        <h1>
            ¿Aún no estas seguro?
        </h1>
        <p>
            Si deseas obtener más información o tines alguna pregunta nos encantaria atender tus dudas.
        </p>
        <a href="{% url "contacto" %}">¡Contáctanos!</a>
    </div>
</section>
<!---
    <section class="call-to-prices">
    <div class="call-to-prices-article color-grey">
        <article>
            <h1 class="display-heading-h2">Deseas seguir Explorando?</h1>
            <p class="display-heading-bold">Entonces tomale un vistazo a nuestros demas servicios</p>
            <a href="" class="button-secondary">Ver precios</a>
        </article>
    </div>
    <div class="call-to-prices-img">
        <img src="{% static "img/mano_pote.png" %}" alt="">
    </div>
</section>
--->
{% endblock %}