{% extends "ohlala_app/index.html" %}
{% load static %}
{% block title %} Nosotros {% endblock %}
{% block content %}
<div class="about-wrap">
    <div class="about-container pink">
        <img class="about-img" src="{% static "img/mano-oscura.png" %}">
        <h1 class="about-title">¿Qué es Ohlálá?</h1>
        <p class="about-para">
            Ohlálá es un santuario donde se busca desatar la belleza de las manos y pies de cada uno de nuestros clientes, persiguiendo la expresión del individualismo y satisfacción personal.
        </p>
    </div>
    <div class="about-container-vision">
        <div class="vision-wrap">
            <h1 class="about-title">Visión</h1>
        </div>
        <p class="vision-para">Ofrecer un espacio seguro en el que los clientes obtengan la mejor versión de si mismos. </p>
    </div>
    
    <div class="about-container-values elegant">
        <div class="values-head">
            <h1 class="values-title elegant">Valores</h1>
        </div>
        <hr id="value-separator" class="elegant">
        <div id="value-body" class="values-body">
            <div id="delicate" class="value delicate">
                <h2 class="value-title">Delicadeza</h2>
                <p class="value-para">Tratamos de ofrecer un trato de calidad para todos</p>
            </div>
            <div id="elegant" class="value elegant selected">
                <h2 class="value-title light">Elegancia</h2>
                <p class="value-para light selected">Buscamos expresar la belleza de la mejor forma.</p>
            </div>
            <div id="feminine" class="value feminine">
                <h2 class="value-title">Feminidad</h2>
                <p class="value-para">Resaltamos el fervor femenino de nuestro interior.</p>
            </div>
        </div>
    </div>
    <section class="go-to-contact">
        <div class="contact-circle">
            <img src="{% static "img/chicaP.png" %}">
        </div>
        <div>
            <h1>
                ¿Tienes más dudas?
            </h1>
            <p>
                Si deseas obtener más información o tines alguna pregunta nos encantaria atenderte.
            </p>
            <a href="{% url "contacto" %}">¡Contáctanos!</a>
        </div>
    </section>
</div>
    
<script src="{% static "js/about.js" %}"></script>

    
{% endblock %}
