{% extends "ohlala_app/index.html" %}
{% load static %}
{% block title %} Nosotros {% endblock %}
{% block content %}
<div class="about-wrap">
    <div class="about-container pink">
        <img class="about-img" src="{% static "img/mano-oscura.png" %}">
        <h1 class="about-title">¿Qué es Ohlálá?</h1>
        <p class="about-para">
            Ohlálá es un santuario donde se busca desatar la belleza de las manos y pies de cada uno de nuestros clientes, persiguiendo la expresión del individualismo y satisfacción personal.
        </p>
    </div>
    <div class="about-container-vision">
        <div class="vision-wrap">
            <h1 class="about-title">Visión</h1>
        </div>
        <p class="vision-para">Ofrecer un espacio seguro en el que los clientes obtengan la mejor versión de si mismos. </p>
    </div>
    
    <div class="about-container-values">
        <div class="values-head">
            <h1 class="values-title">Valores</h1>
        </div>
        <div class="values-body">
            <div class="value delicate">
                <h2 class="value-title">Delicadeza</h2>
                <p class="value-para">Buscamos expresar la belleza de la mejor forma</p>
            </div>
            <div class="value elegant">
                <h2 class="value-title light">Elegancia</h2>
                <p class="value-para light">Buscamos expresar la belleza de la mejor forma.</p>
            </div>
            <div class="value feminine">
                <h2 class="value-title">Feminidad</h2>
                <p class="value-para">Resaltamos el fervor femenino de nuestro interior.</p>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
