{% extends "ohlala_app/index.html" %}
{% load static %}
{% block title %} Precios {% endblock %}
{% block content %}
<div class="contendor-padre">
    <div class="caja-rosada">
      <h1 class="title">Servicios</h1>
      <div class="caja-blanca">
        <h1>Manicura</h1>
        <p>En nuestro salón, nos enorgullece ofrecerte una experiencia excepcional y resultados impecables que te harán lucir y sentirte radiante.</p>
        <p>Cada visita a nuestro salón es una oportunidad para consentirte y mimarte, mientras te relajas en un ambiente acogedor y tranquilo. Nos preocupamos por tu comodidad y bienestar, por lo que utilizamos productos de alta calidad que cuidan y protegen tus uñas y cutículas.</p>
      </div>
    </div>
    <div class="caja-negra">
      <div><img src="{% static "img/manicura-basica.png" %}" class=imagen alt=""></div>
      <div class=texto>
        <h1>Manicura básica</h1>
        <p>Nuestra manicura básica incluye limado y forma de uñas, cuidado de cutículas y opcionalmente, la aplicación de esmalte de uñas para embellecer tus manos.</p>
      </div>
    </div>
    <hr>
    <div class="caja-negra">
      <div class=texto>
        <h1>Manicura rusa</h1>
        <p>La manicura rusa es una técnica especializada que utiliza limado suave y delicado de las uñas, enfocándose en lograr una apariencia natural y saludable. Este tipo de manicura es ideal para aquellas personas que prefieren un aspecto más sutil.</p>
      </div>
      <div><img src="{% static "img/manicura-rusa.png" %}" class=imagen alt=""></div>
    </div>
    <hr>
    <div class="caja-negra">
      <div><div><img src="{% static "img/manicura-gel.png" %}" class=imagen alt=""></div></div>
      <div class=texto>
        <h1>Manicura en gel</h1>
        <p>Con nuestro manicure en gel, disfrutarás de un esmalte de uñas de larga duración. Utilizamos esmaltes de gel de alta calidad que se secan bajo una lámpara UV o LED, brindando un brillo duradero y resistencia a los astillamientos.</p>
      </div>
    </div>
    <hr>
    <div class="caja-negra">
      <div class=texto>
        <h1>Aprés Gel X</h1>
        <p> El Aprés Gel X es una técnica innovadora que combina extensiones de uñas con gel y puntas adhesivas. Obtendrás uñas largas y hermosas sin dañar tu uña natural. El resultado es un aspecto elegante y duradero.</p>
      </div>
      <div><img src="{% static "img/gel-x.png" %}" class=imagen alt=""></div>
    </div>
    <hr>
    <div class="caja-negra">
      <div><div><img src="{% static "img/dip-powder.png" %}" class=imagen alt=""></div></div>
      <div class=texto>
        <h1>Dip Powder</h1>
        <p>El Dip Powder, también conocido como SNS o NexGen, es una técnica que utiliza polvo acrílico coloreado para crear una capa duradera y resistente en las uñas. Este proceso no requiere lámpara UV o LED y ofrece una amplia gama de colores y acabados.</p>
      </div>
    </div>
    <hr>
    <div class="caja-negra">
      <div class=texto>
        <h1>Polygel</h1>
        <p>El Polygel es una opción versátil que combina lo mejor de los sistemas de gel y acrílico. Proporciona una apariencia natural y flexible, al mismo tiempo que ofrece fuerza y durabilidad. Es una excelente opción para quienes desean uñas esculpidas sin utilizar extensiones.
          Pedicure:</p>
      </div>
      <div><img src="{% static "img/poly-gel.png" %}" class=imagen alt=""></div>
    </div>
    <div class="caja-rosada">
      <div class="caja-blanca">
        <h1>Pedicura</h1>
        <p>En nuestro salón, también te ofrecemos una experiencia revitalizante para tus pies a través de nuestros excepcionales servicios de pedicure. Nuestro objetivo es brindarte el máximo cuidado y atención para que puedas disfrutar de pies suaves, relajados y hermosos.</p>
        <p>Nuestro equipo de expertos pedicuristas está dedicado a proporcionarte un servicio de calidad y personalizado. Comenzamos con un cálido y relajante baño de pies para aliviar la tensión y preparar tus pies para el tratamiento. </p>
      </div>
    </div>
    <div class="caja-negra">
      <div><img src="{% static "img/pedicura-circulo1.png" %}" class=imagen alt=""></div>
      <div class=texto>
        <h1>Pedicura básica</h1>
        <p>Nuestro pedicure básica es un tratamiento completo para tus pies. Incluye remojo, limado y forma de uñas, eliminación de callosidades y durezas, cuidado de cutículas y aplicación de esmalte de uñas para que tus pies luzcan hermosos y cuidados.</p>
      </div>
    </div>
    <hr>
    <div class="caja-negra">
      <div class=texto>
        <h1>Pedicura básica</h1>
        <p>Nuestro pedicure básica es un tratamiento completo para tus pies. Incluye remojo, limado y forma de uñas, eliminación de callosidades y durezas, cuidado de cutículas y aplicación de esmalte de uñas para que tus pies luzcan hermosos y cuidados.</p>
      </div>
      <div><img src="{% static "img/pedicura-circulo1.png" %}" class=imagen alt=""></div>
    </div>
    <div class="caja-rosada">
      <h3 class="texto1">Nuestro objetivo es brindarte una experiencia personalizada y satisfactoria, por lo que nos esforzaremos por cumplir con tus expectativas y superarlas. Si tienes alguna pregunta o inquietud antes de tu cita, no dudes en contactarnos. Estaremos encantados de ayudarte.</h3>
      <a href="" class="button-primary">Agendar cita</a>
  </div>
{% endblock %}
